@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Source+Code+Pro:wght@200..900&display=swap');
@import url('lib/font.css');

@import 'tailwindcss';

@theme {
	--font-sans-serif: "Source Sans Pro", sans-serif;
	--font-mono: "Source Code Pro", monospace;
	--font-handwriting: Kalam, cursive;
	--color-blue-gem: #3813a0;
	--color-caribbean-green: #1cc6a0;
	--color-daisy-bush: #4714a5;
	--color-fog: #decaec;
	--color-gallery: #efeaf2;
	--color-golden-fizz: #feff40;
	--color-lavender-indigo: #8657e1;
	--color-mint: #00ca9e;
	--color-monsoon: #777878;
	--color-pastel-purple: #b2a1bb;
	--color-prim: #ede6ef;
	--color-purple: #7209b7;
	--color-robin-egg-blue: #00e9c0;
	--color-scarlet: #f72f45;
	--color-silver: #c0c0c0;
	--color-whisper: #f9f4f9;
	--shadow-colored: 0 7px 16px rgba(127, 91, 220, 0.002);
	--shadow-colored-hover: 0 16px 25px rgba(127, 91, 220, 0.3);
	--shadow-table-row: 0 0 6px rgba(0, 0, 0, 0.16);
	--shadow-slide-panel: -4px 0 44px rgba(0, 0, 0, 0.25);
	/* Z-indexes */
	--navbar: 90;
	--navbar-toggle: 91;
	--modal-overlay: 997;
	--slide-panel: 998;
	--modal-window: 999;
	/* Table templates */
	--invoice-table: 100px 100px 60px 1fr 116px 32px 32px;
	--invoice-table-mobile: 1fr 90px;
}

@layer base {
	body {
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 500;
	}

	svg {
		fill: currentColor;
	}
}

@layer components {
	.invoice-table {
		margin-bottom: 12px;
		padding-inline: 16px;
		width: 100%;
		display: grid;
		grid-template-columns: var(--invoice-table-mobile);
		column-gap: 16px;
	}

	@media (min-width: 1024px) {
		.invoice-table {
			padding-inline: 24px;
			grid-template-columns: var(--invoice-table);
		}
	}

	.bg-circle {
		background: url('/images/circle.svg') no-repeat;
	}

	.arrow-pointer-left {
		background: url('/images/arrow-pointer-left.svg') no-repeat left top;
	}

	.arrow-pointer-right {
		background: url('/images/arrow-pointer-right.svg') no-repeat right top;
	}
}

@layer utilities {
	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}